{% extends "blog/base.html" %}
{% block content %}

  <h1 class="posttitle loader">{{ post.title }}</h1>
  {% if post.published_date %}
  <div class="date postdate">
    {{ post.published_date}}
  </div>

  {% else %}
  <a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
  {% endif %}
  <p class="postcontent">{{post.text|safe|linebreaksbr}}</p>
  {% if user.is_authenticated %}
  <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>
  </a>
  <a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x-fill" viewBox="0 0 16 16">
    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.854 6.146L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 1 1 .708-.708z"/>
  </svg>
  </a>
  {% endif %}
  <hr>

  <a class="" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comments</a>

  <div class="container">
    {% for comment in post.comments.all %}
    <br>
      {% if user.is_authenticated or comment.approve_comment %}
      {{comment.created_date}}

        {% if not comment.approved_comment %}
        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x-fill" viewBox="0 0 16 16">
          <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.854 6.146L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 1 1 .708-.708z"/>
        </svg>
      </a>

      <a class="btn btn-primary" href="{% url 'comment_approve' pk=comment.pk %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
          </svg>
        </a>
        {% endif %}

        <p>{{comment.text|safe|linebreaks}}</p>
        <p>Posted By: {{comment.author }}</p>
      {% endif %}
      {% empty %}
      <p>No Comments!</p>
    {% endfor %}
  </div>


{% endblock%}
